<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form method="post" action="/createPerson">
    <p>
        <label for="name">name</label>
        <input type="text" id="name" name="name" placeholder="name" required autofocus>
    </p>
    <p>
        <label for="surname">surname</label>
        <input type="text" id="surname" name="surname" placeholder="surname" required autofocus>
    </p>
    <p>
        <label for="phoneNumber">phoneNumber</label>
        <input type="text" id="phoneNumber" name="phoneNumber" placeholder="phoneNumber" required autofocus>
    </p>
    <p>
        <label for="businessNumber">businessNumber</label>
        <input type="text" id="businessNumber" name="businessNumber" placeholder="businessNumber" required autofocus>
    </p>
    <p>
        <label for="email">email</label>
        <input type="text" id="email" name="email" placeholder="email" required autofocus>
    </p>
    <button type="submit">Submit new user</button>
</form>
<form method="get" action="/people">
    <button type="submit">Return to the list</button>
</form>
</body>
</html>